@font-face {
    font-family: proxigma-regular;
    src: url(font/Proxima\ Nova\ Regular.ttf);

    font-family: 'oso';
    src: url(font/OpenSauceOne-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
}
/* header atas */

.header-atas{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding: 1px 32px 1px 32px;
    font-size: 12px;
    background-color: #f0f3f7;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* H-kiri */
.h-kiri{
display: flex;
align-items: center;
}
a{
    text-decoration: none;
    color: var(--NN600,#6D7588);
}
.hp{
    margin-left: 2px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 60% 60%;
    background-size: 100% auto;
    background-image: url(icon/icon-bar.svg);
    display: inline-block;
}
.header-atas .menu-dropdown{
    line-height: 32px;
}
.header-atas .menu-dropdown a:hover{
    color: #03AC0E;
}
.header-atas .dropdown-content{
    display: none;
}
.h-kiri .menu-dropdown:hover > .dropdown-content{
    position: absolute;
    width: 426px;
    height: 226px;
    box-shadow: 0px 1px 6px var(--NN500,rgba(141,150,170,0.4));
    display: block;
    background-color: white;
    border-radius: 20px;
    top: 32px;
    left: 32px;
}
.header-atas .dropdown-item{
    display: flex;
    padding: 32px;
    align-items: center;
    justify-content: center;
}
.img-content{
    border: 1px solid green;
    padding: 5px;
    border-radius: 8px;
}
.text-content{
    font-size: 14px;
    text-align: center;
    margin-left: 32px;
    line-height: normal;
}
.text-content img, .text-content p{
    margin-bottom: 8px;
}
/* H-Kanan */
.h-kanan a:hover{
    color: #03AC0E;
}
.h-kanan a:nth-child(1),.h-kanan a:nth-child(2),.h-kanan a:nth-child(3){
    margin-right: 32.5px;
}
.h-kanan a:nth-child(4){
    margin-right: 33px;
}
.h-kanan a:nth-child(5){
    margin-right: 17px;
}



/* HEADER TENGAH */

.header-tengah{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    padding: 10 32px 10 32px;
    justify-content: space-between;
    color: var(--NN950,#212121);
}
.kategori div{
    height: 50px;
    width: 75px;
    position: absolute;
    top:75;
}
.kategori a{
    border-radius: 5px;
    padding: 10px;
}
.kategori a:hover{
    transition: all 0.3s;
    background-color: #e9ecf0;
}
.header-tengah .menu-dropdown:hover > .dropdown-content{
    display: block;
}
.header-tengah .dropdown-content{
    width: 100%;
    height: 500px;
    right: 0;
    top: 90;
    position: absolute;
    /* background-color: green; */
    display: none;
}
.title{
    width: 900%;
    display: flex;
    height: 100%;
    overflow: hidden;
}

.title img{
    width: 32px;
    height: 32px;
}
.title .it-belanja{
    background-color: black;
    width: 100%;
    height: 100%;
}
.title label{
    margin-left: 8px;
}
.title  h1{
padding: 10px;
}
.title .list{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.title .it-featured .it-ls-featured{
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.item-list{
    padding: 0px 10px 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.title .item{
    box-sizing: border-box;
    padding: 8px;
    width: 20%;
    align-items: center;
    margin-bottom: 10px;
    display: flex;
}
.dd-navigation a{
    font-size: 13px;
    font-family: sans-serif;
    line-height: 50px;
    margin: 30px;
    color: black;
}
.dd-navigation a:hover{
    color: #00AA5B;
}
.dd-navigation{
    border-bottom: 1px solid #f0f3f7;
}
#belanja:target ~ .title{
    margin-left: 0;
}
#featured:target ~ .title{
    margin-left: -100%;
}
#tagihan:target ~ .title{
    margin-left: -200%;
}
#topup:target ~ .title{
    margin-left: -300%;
}
#keuangan:target ~ .title{
    margin-left: -400%;
}
#pajakpendidikan:target ~ .title{
    margin-left: -500%;
}
#travelentertainment:target ~ .title{
    margin-left: -600%;
}
#halalcorner:target ~ .title{
    margin-left: -700%;
}
#lainlain:target ~ .title{
    margin-left: -800%;
}
.cari{
    display: flex;
    outline:  #BFC9D9 solid 1px;
    border-radius: 8px;
}
.cari button i{
    background-image: url(icon/icons24.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding: 10px;

}
.cari button{
    margin-left: 8px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background-color: white;
}
.cari input{
    margin-left: 8px;
    width: 740px;
    height: 38px;
    border: none;
}

.icon-content{
    display: flex;
}
.belanja-ctn, .lonceng-ctn, .pesan-ctn{
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.belanja-ctn{
    background-image: url(icon/icon-bar.svg);

}
.lonceng-ctn{
    background-position: 40% 40%;
    background-image: url(icon/icon-bar.svg);

}
.pesan-ctn{
    background-position: 20% 20%;
    background-image: url(icon/icon-bar.svg);

}
.belanja, .lonceng{
    margin-right: 15px;
}

.garis-lurus{
    height: 28px;
    border-right: 1px solid rgb(227, 227, 227);
}

.profile{
    display: flex;
}
.rumah-profile, .smile-profile{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.rumah-profile img, .smile-profile img{
    border-radius: 50%;
    margin-right: 10px;
}
/*  */